#Header {
  background-color: rgb(17, 17, 17);
  color: rgb(221, 215, 215);
  margin-top: -2rem;
  height: 4rem;
}
a {
  text-decoration: none;
  color: rgb(221, 215, 215);
}
nav {
  font-size: 2rem;
}

#Header ul {
  display: flex;
  gap: 30vw;
}
#Header ul li {
  list-style: none;
}
#contact:hover {
  cursor: pointer;
}
#menu {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2.5rem;
  margin-left: 0rem;
  font-size: 1.5rem;
  z-index: 1;
  height: 55rem;
}
#menu ul {
  border-radius: 10px;
  background-color: white;
  color: black;
  display: block;
}
#menu ul li {
  list-style: none;
  text-align: left;
}
#menu ul li a {
  color: black;
}
#menu #twi {
  color: black;
}
#menu #Link {
  color: blue;
}
#menu #Mail {
  color: gold;
}
#menu #Inst {
  color: red;
}

#menu__btn {
  display: none;
}

/**MEDIA QUERRIES **/
/** MOBILE PHONE **/
@media (max-width: 600px) {
  #menu__btn {
    display: block;
    color: white;
    margin-left: 0rem;
    margin-top: 2rem;
    font-size: 3rem;
  }
  #Header ul {
    display: none;
  }
  #navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    font-size: 2rem;
    color: black;
    z-index: 1;
  }
  #navbar ul {
    display: block;
  }
  #navbar ul li {
    list-style: none;
    margin: 10px;
    text-align: center;
  }
  #line {
    border: 1px solid black;
    height: 1px;
    background-color: black;
    width: 20rem;
  }
  #navbar a {
    color: black;
  }
  #navbar #under {
    margin-top: 25rem;
  }
  #navbar #under ul {
    display: flex;
    gap: 1.3rem;
  }
  #instagram {
    color: red;
  }
  #linkedin {
    color: blue;
  }
  #mailmonkey {
    color: yellow;
  }
}
/**TABLET **/
@media (min-width: 601px) and (max-width: 1024px) {
  #Header ul {
    gap: 25vw;
  }
}
