#footer {
  font-size: 2rem;
  text-align: center;
}
#footer ul {
  margin-left: 15rem;
  display: flex;
  gap: 10rem;
}
#footer ul li {
  list-style: none;
}
#footer a {
  color: black;
}

/**MEDIA QUERRIES **/
/**MOBILE PHONE **/
@media (max-width: 600px) {
  #footer ul {
    margin-left: 0rem;
    gap: 3rem;
  }
}
/**TABLETS **/
@media (min-width: 601px) and (max-width: 1024px) {
  #footer ul {
    margin-left: 7rem;
    gap: 7rem;
  }
}
